{{#each result}}
    <!-- Post preview-->
    <div class="post-preview">
        <a href="/post/{{id}}">
            <h2 class="post-title">{{title}}</h2>
            <h3 class="post-subtitle">{{subStr content}}</h3>
        </a>
        <p class="post-meta">
            Posted by
            {{author}}
        </p>
    </div>
    <!-- Divider-->
    <hr class="my-4" />
{{/each}}