<h1 class="text-center">Авторизация</h1>
<div class="col-sm-6 mx-auto">
    <form action="/login" method="post">
        <div class="mb-3">
            <input class="form-control" name="username" type="email" required placeholder="Login">
        </div>
        <div class="mb-3">
            <input class="form-control" name="password" type="password" required placeholder="Password">
        </div>
        <div class="mb-3">
            <input class="form-control btn btn-primary" type="submit" value="Войти">
        </div>
    </form>
</div>
