<h1 class="text-center">Регистрация</h1>
<div class="col-sm-6 mx-auto">
    <form action="/register" method="post">
        <div class="mb-3">
            <input class="form-control" name="name" type="text" required placeholder="Имя">
        </div>
        <div class="mb-3">
            <input class="form-control" name="lastname" type="text" required placeholder="Фамилия">
        </div>
        <div class="mb-3">
            <input class="form-control" name="login" type="email" required placeholder="Login">
        </div>
        <div class="mb-3">
            <input class="form-control" name="pass" type="password" required placeholder="Password">
        </div>
        <div class="mb-3">
            <input type="submit" class="btn btn-primary form-control" value="Зарегистрироваться">
        </div>
    </form>
</div>
